html, body {
    height: 100%;
    text-align: center;
}

html {
    display: table;
    margin: auto;
    text-align: center;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}